<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>osManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>${productionMode}</param-value>
	</context-param>
	<servlet>
		<servlet-name>OsManager</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<param-name>UI</param-name>
			<param-value>com.persys.osmanager.dashboard.DashboardUI</param-value>
		</init-param>
		<init-param>
			<param-name>widgetset</param-name>
			<param-value>com.persys.osmanager.widgetset.OsmanagerWidgetset</param-value>
		</init-param>
		<init-param>
			<param-name>UIProvider</param-name>
			<param-value>com.persys.osmanager.dashboard.DashboardUIProvider</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>OsManager</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
  
   <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>  
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>br.com.rest.resources</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
      <param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
    </init-param>   
        <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
</web-app>